
h1,
h2,
h3 {
    color: Black;
}

.title {
    color: Black;
}



p {
    font-size: 12px;
}

/* Base css */

body {
    font-family: Aileron, sans-serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

/* Footer in base.html */

.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    margin-top: 4rem;
    
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #e8e3de;
}

.container {
    padding-bottom: 60px;
}

/* Homepage */

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}


.home-title {
    font-size: 35px;
    font-weight: bold;
    
}

.signup-button {
    background-color: #FA0644;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.signup-button:hover {
    background-color: #C7052C;
}

.image-homepage {
    width: 3500px; 
}

/* Projects List Page */

.project-list {
    margin: 20px;
}

.title {
    color: #FA0644;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    background-color: #E2E2E2;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.project-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.project-importance {
    color: #38B6FF;
}

.project-dates {
    color: #000000;
}

.project-importance,
.project-dates,
.project-status {
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.custom-button-search {
    background-color: #FA0644;
    color:#ffffff;
}

.add-project-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.add-project-btn .button {
    background-color: #FA0644;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.add-project-btn .button:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* Create Project Page */

.title-create-project {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    color: #FA5300;
}

.link-go-back-new {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.link-go-back-new a {
    color: #FA5300;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link-go-back-new a:hover {
    text-decoration: underline;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 400px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container textarea {
    padding: 0.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.form-container input[type="text"]:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #FA5300;
    box-shadow: 0px 0px 4px #FA5300;
}


.form-container input[type="submit"] {
    background-color: #FA5300;
    color: #FFFFFF;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 150px;   
    margin: 1.5rem auto; 
}

.form-container input[type="submit"]:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.input[type="submit"] {
    text-align: center; 
}

.date-instruction {
    font-size: 9px;
    color: grey;
    font-style: italic;
    margin-left: 5rem;
    margin-top: -0.7rem;
    margin-bottom: 1rem;
}

/* Project Detail Page */

.project-detail {
    margin: 20px;
}

.project-header {
    margin-bottom: 10px;
}

.title {
    color: #FA0644;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: #000000;
    font-size: 16px;
}

.project-info {
    display: flex;
    justify-content: space-between;
}

.project-dates p,
.project-status p {
    margin-bottom: 5px;
}

.project-dates strong,
.project-status strong {
    font-weight: bold;
}

.task-section {
    margin-top: 20px;
}

.tasks-title {
    color: #FA0644;
    font-size: 20px;
}

.task-list {
    list-style-type: disc;
    padding-left: 20px;
}

.task-item {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

.go-back-link-detail-pg {
    margin-bottom: 2rem;
}

.buttons-upt-dlt {
    margin-top: 1.5rem;
}

/* Project Update Page */


.update-page-container {
    margin: 20px;
}

.title-update-project {
    color: #38B6FF;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.update-form {
    margin-top: 20px;
}

.update-form label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0.5rem;
}

.update-form input[type="text"],
.update-form textarea {
    padding: 0.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.update-form input[type="text"]:focus,
.update-form textarea:focus {
    outline: none;
    border-color: #38B6FF;
    box-shadow: 0px 0px 4px #38B6FF;
}

.update-form input[type="submit"] {
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 150px;   
    margin: 1.5rem auto; 
}

.update-form input[type="submit"]:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.go-back-container-update {
    margin-top: 1.5rem;
}

.link-go-back-update a {
    color: #FA0644;
    text-decoration: none;
    font-weight: bold;
}

.link-go-back-update a:hover {
    color: #FA0644;
    text-decoration: underline;
}

/* Project Delete Page */

.picture-delete-p { 
    height: 400px; 
    overflow: hidden; 
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.image-delete-p {
    width: 100%; 
    height: auto; 
}

.delete-page-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}

.buttons-delete-pg {
    text-align: center;
    
}

.button.is-primary.custom-cancel-button {
    background-color: #AA02FF;
}

@media (max-width: 768px) {
    /* Project Delete Page - When Small Screen */

.picture-delete-p {
    height: 200px;
}

.delete-page-title {
    font-size: 20px;
}

.buttons-delete-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4rem;
}

.button.is-primary.custom-cancel-button {
    background-color: #AA02FF;
    margin-top: 1rem;
}
}







