
h1,
h2,
h3 {
    color: Black;
}

.title {
    color: Black;
}



p {
    font-size: 12px;
}

/* Base css */

body {
    font-family: Aileron, sans-serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

/* Footer in base.html */

.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    margin-top: 4rem;
    
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #e8e3de;
}

.container {
    padding-bottom: 60px;
}

/* Homepage */

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}


.home-title {
    font-size: 35px;
    font-weight: bold;
    
}

.signup-button {
    background-color: #FA0644;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.signup-button:hover {
    background-color: #C7052C;
}

.image-homepage {
    width: 3500px; 
}

/* Projects List Page */

.project-list {
    margin: 20px;
}

.title {
    color: #FA0644;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    border-color: #000000;
    transition: box-shadow 0.3s ease; 
}

.project-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 10; 
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.project-importance {
    color: #38B6FF;
}

.project-dates {
    color: #000000;
}

.project-importance,
.project-dates,
.project-status {
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.custom-button-search {
    background-color: #FA0644;
    color:#ffffff;
}

.add-project-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.add-project-btn .button {
    background-color: #FA0644;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.add-project-btn .button:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* Create Project Page */

.title-create-project {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    color: #FA5300;
}

.link-go-back-new {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.link-go-back-new a {
    color: #FA5300;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link-go-back-new a:hover {
    text-decoration: underline;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 400px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container textarea {
    padding: 0.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.form-container input[type="text"]:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #FA5300;
    box-shadow: 0px 0px 4px #FA5300;
}


.form-container input[type="submit"] {
    background-color: #FA5300;
    color: #FFFFFF;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 150px;   
    margin: 1.5rem auto; 
}

.form-container input[type="submit"]:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.input[type="submit"] {
    text-align: center; 
}

.date-instruction {
    font-size: 9px;
    color: grey;
    font-style: italic;
    margin-left: 5rem;
    margin-top: -0.7rem;
    margin-bottom: 1rem;
}

/* Project Detail Page */

.project-detail {
    margin: 20px;
}

.project-header {
    margin-bottom: 10px;
}

.title {
    color: #FA0644;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: #000000;
    font-size: 16px;
}

.project-info {
    display: flex;
    justify-content: space-between;
}

.project-dates p,
.project-status p {
    margin-bottom: 5px;
}

.project-dates strong,
.project-status strong {
    font-weight: bold;
}

.task-section {
    margin-top: 20px;
}

.tasks-title {
    color: #FA0644;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.task-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 1rem;
}

.task-item {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
    
}

.go-back-link-detail-pg {
    margin-bottom: 2rem;
}

.buttons-upt-dlt {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.task-table th,
.task-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.task-table th:first-child,
.task-table td:first-child {
    padding-left: 0;
}

.task-table th:last-child,
.task-table td:last-child {
    padding-right: 0;
}

.task-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.task-table tbody tr:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}

.buttons-upt-dlt {
    margin-top: 1.5rem;
}

.task-title,
.task-importance,
.task-due_date {
    font-size: 14px;
}

.add_task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-add-task-pg {
    margin-right: 3rem;
    padding-right: 2rem;
    
}

.completion-status-title {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
/* Detail Page - Forr Small Screen */
@media (max-width: 768px) {
.project-detail {
    margin: 10px;
}

.title {
    font-size: 24px;

}

.description {
    font-size: 14px;
}

.tasks-title {
    font-size: 18px;
    margin-bottom: 1rem;
}

.task-item {
    font-size: 12px;
}

.go-back-link-detail-pg {
    margin-bottom: 1rem;
}

.buttons-upt-dlt {
    margin-top: 1rem;
    margin-left: 1rem;
}
.task-title, .task-importance, .task-due_date {
    font-size: 12px;
}
}


/* Project Update Page */


.update-page-container {
    margin: 20px;
}

.title-update-project {
    color: #38B6FF;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.update-form {
    margin-top: 20px;
}

.update-form label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0.5rem;
}

.update-form input[type="text"],
.update-form textarea {
    padding: 0.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.update-form input[type="text"]:focus,
.update-form textarea:focus {
    outline: none;
    border-color: #38B6FF;
    box-shadow: 0px 0px 4px #38B6FF;
}

.update-form input[type="submit"] {
    background-color: #38B6FF;
    color: #FFFFFF;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 150px;   
    margin: 1.5rem auto; 
}

.update-form input[type="submit"]:hover {
    background-color: #BF2026;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.go-back-container-update {
    margin-top: 1.5rem;
}

.link-go-back-update a {
    color: #FA0644;
    text-decoration: none;
    font-weight: bold;
}

.link-go-back-update a:hover {
    color: #FA0644;
    text-decoration: underline;
}

/* Project Delete Page */

.picture-delete-p { 
    height: 400px; 
    overflow: hidden; 
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.image-delete-p {
    width: 100%; 
    height: auto; 
}

.delete-page-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}

.buttons-delete-pg {
    text-align: center;
    
}

.button.is-primary.custom-cancel-button {
    background-color: #AA02FF;
}

@media (max-width: 768px) {
    /* Project Delete Page - When Small Screen */

.picture-delete-p {
    height: 200px;
}

.delete-page-title {
    font-size: 20px;
}

.buttons-delete-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4rem;
}

.button.is-primary.custom-cancel-button {
    background-color: #AA02FF;
    margin-top: 1rem;
}
}

/* Tasks List Page */

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.task-table th,
.task-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E2E2E2;
}

.task-table th {
    background-color: #FA0644;
    color: #FFFFFF;
}

.task-table .task-title {
    color: #000000;
}

.task-table .task-importance {
    color: #38B6FF;
}

.task-table .task-due-date {
    color: #FA5300;
}

.task-table .task-completed {
    color: #40A456;
}

.task-table .task-not-completed {
    color: #BF2026;
}

.completed-tasks-table {
    border-collapse: collapse;
    width: 100%;
}

.completed-tasks-table th,
.completed-tasks-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.completed-tasks-table th {
    background-color: #FA5300;
    color: #FFFFFF;
} 


.tasks-to-do-table {
    border-collapse: collapse;
    width: 100%;
}

.tasks-to-do-table th,
.tasks-to-do-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tasks-to-do-table th {
    background-color: #063854;
    color: #FFFFFF;
} 

.title_tasks-l {
    color: Black;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.sub-title-tasks-pg-1 {
    color: #063854;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.sub-title-tasks-pg-2 {
    color: #FA5300;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.create-task-button {
    background-color: #063854 !important;
}

.create-task-button:hover {
    background-color: #FA0644 !important;
}


.project-list-link-taskpg {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin-top: 1rem;
}

.project-list-link-taskpg a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.project-list-link-taskpg a:hover {
    color: #FA0644;
}


/* Task Create Page */

.title_tasks-l2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    color: #AA02FF
    ;
}

.link-go-back-new-task {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.link-go-back-new-task a {
    color: #AA02FF
    ;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link-go-back-new-task a:hover {
    text-decoration: underline;
}

.form-create-task {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: auto;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 400px;
}

.form-create-task label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0.5rem;
}

.form-create-task input[type="text"],
.form-create-task textarea,
.form-create-task select {
    padding: 0.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.form-create-task input[type="text"]:focus,
.form-create-task textarea:focus,
.form-create-task select:focus {
    outline: none;
    border-color: #AA02FF;
    box-shadow: 0px 0px 4px #AA02FF;
}

.my-custom-button-t {
    background-color: #AA02FF
    !important;  
    color: #FFFFFF !important;  
    padding: 0.5rem; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 150px;   
}

.my-custom-button-t:hover {
    background-color: #063854 !important; 
    color: #FFFFFF!important;  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.date-instruction-task-cr {
    font-size: 9px;
    color: grey;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-new-project-missing {
    margin-left: 5rem;
    margin-top: 2rem;
}

/* Task Detail PAge */


#task-detail {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.task-title-detailpg {
    color: #000;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.detail-heading {
    font-weight: 600;
    color: #333;
    font-size: 1em;
    margin-bottom: 1rem;
}

#task-detail p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1em;
    color: #333;
}

#task-actions {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-actions a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 10px;
    transition: background-color .3s ease;
}

#task-actions a:hover {
    background-color: #BF2026;
}

#navigation-links {
    margin-top: 2rem;
}

#navigation-links a {
    display: block;
    text-decoration: none;
    color: #FA0644;
    transition: color .3s ease;
    font-size: 1.2em;
}

#navigation-links a:hover {
    color: #333;
}