{% extends 'base.html' %} 
{% load static %}
{% block title %}Dailydone Login{% endblock %} 

{% block content %}

<h1 class="title login-title">Log In</h1>
<form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" class="btn" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p class="has-text-centered">
    Don't have an account? <a href="{% url 'signup' %}" class="signup-link">Sign Up</a>
</p>

{% endblock %}
