{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}


{% block content %}

<h2 class="title-update-profile">User Profile</h2>

<div class="container-user-profile">
    {% comment %} <div class="profile-picture">
        {% if user.userprofile.picture %}
        <img src="{{ user.userprofile.picture.url }}" alt="Profile Picture">
        {% endif %}
    </div> {% endcomment %}
    <div class="profile-info">
        <span class="label_user_profile">Username</span>
        <br>
        <span class="value">{{ user.username }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Email</span>
        <br>
        <span class="value">{{ user.email }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">First Name</span>
        <br>
        <span class="value">{{ user.first_name }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Last Name</span>
        <br>
        <span class="value">{{ user.last_name }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Bio</span>
        <br>
        <span class="value">{{ user.userprofile.bio }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Interests</span>
        <br>
        <span class="value">{{ user.userprofile.interests }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Location</span>
        <br>
        <span class="value">{{ user.userprofile.location }}</span>
    </div>
    <div class="profile-info">
        <span class="label_user_profile">Date Joined</span>
        <br>
        <span class="value">{{ user.date_joined }}</span>
    </div>
        <a class="navbar-item button_user_profile" href="{% url 'user_profile_update' pk=user.userprofile.pk %}">Update Profile</a>

        <a href="{% url 'user_profile_delete' user.pk %}" class="delete-button-profile">Delete My Account</a>
</div>
{% endblock %}
