{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<h2 class="title-update-profile">Update Profile</h2>
<div class="container-profile-update">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group-update-profile">
            <!-- Displays first_name, last_name, and email -->
            {{ user_form.as_p }}
            <!-- Displays the remaining user profile fields -->
            {{ form.as_p }} 
        </div>
        <button type="submit" class="button_save_update_profile">Save</button> 
    </form>
    <a class="button_back_profile" href="{% url 'user_profile' user_profile.pk %}">Back to Profile</a>
</div>
{% endblock %}
