{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-page-container">
    <div class="top-section">
        <h1 class="about-page-title">DailyDone</h1>
        <p class="about-description">
            DailyDone is a streamlined project management tool crafted for efficiency and superb user-experience. Enabling users to <strong style="color: #FA0644;">easily create, track, update, and complete tasks and projects</strong>, it injects simplicity into every step of project management. The platform fosters productivity and team collaboration by providing features for task assignments, timeline creation, and real-time notifications. Whether managing personal tasks or coordinating team-based projects, DailyDone offers a comprehensive solution to visualize and monitor progress seamlessly. With its user-friendly interface and a wealth of features, it's an optimal choice for anyone seeking a superior solution for project management and task tracking. With DailyDone, we aim to turn every day into a day of accomplishment.
        </p>
    </div>

    <section class="key-features-section">
      <h2 class="section-title">Key Features:</h2>
      <div class="features-list">
          <div class="feature-item">
              <img class="feature-image" src="/static/main_app/images/user_authentification_img.jpeg" alt="User Authentication picture">
              <div class="feature-content">
                  <h3 class="feature-title">User Authentication</h3>
                  <p class="feature-description">Register, Login, and Logout</p>
              </div>
          </div>

          <div class="feature-item">
            <img class="feature-image" src="/static/main_app/images/Project_Management_img.jpeg" alt="Project Management Icon">
            <div class="feature-content">
              <h3 class="feature-title">Project Management</h3>
              <p class="feature-description">Create, View, Edit, and Delete projects</p>
            </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/main_app/images/Task_Management_img.jpeg" alt="Task Management Icon">
              <div class="feature-content">
                  <h3 class="feature-title">Task Management</h3>
                  <p class="feature-description">Add, View, Update, and Delete tasks within projects</p>
              </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/main_app/images/Collaboration_img.jpeg" alt="Collaboration Icon">
              <div class="feature-content">
                  <h3 class="feature-title">Collaboration</h3>
                  <p class="feature-description">Assign tasks to specific collaborators and invite users to join projects</p>
              </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/main_app/images/user_profile_img.jpeg" alt="User Profile Icon">
              <div class="feature-content">
                  <h3 class="feature-title">User Profile</h3>
                  <p class="feature-description">With our user profiles, each individual can tailor their experience to fit their needs, enhancing productivity and providing a personalized touch to project management</p>
              </div>
          </div>
      </div>
  </section>

  <div class="learn-more-section">
    <a href="{% url 'signup' %}" class="learn-more-button">Learn More</a>
  </div>

  <div class="developer-section">
    <div class="left-side-image">
      <div class="image-wrapper"> 
          <img
              class="image is-128x128 developer-image"
              src="/static/main_app/images/pict_Dolores_Crazover.png"
              alt="Dolores Crazover"
          />
      </div>
  </div>
  <h2 class="developer-title">About the Developer</h2>
  <p class="developer-description">
      In the spirit of transparency and continuous learning, Dolores openly shares her work and development journey on her <a href="https://github.com/DoloresCode" target="_blank" style="color: #FA0644; font-weight: bold;">GitHub</a> page. She welcomes you to connect with her on <a href="https://www.linkedin.com/in/dolores-crazover/" target="_blank" style="color: #FA0644; font-weight: bold;">LinkedIn</a> to know more about her professional endeavors. For software development opportunities, questions, or if you would like to discuss potential collaborations, please don't hesitate to reach out to Dolores via email at <a href="mailto:dcrazover@gmail.com" style="color: #FA0644; font-weight: bold;">dcrazover@gmail.com</a>. She looks forward to helping individuals and teams accomplish more every day with DailyDone.
  </p>
</div>
</div>
{% endblock %}