{% load static %}
{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="about-page-container">
    <div class="top-section">
        <h1 class="about-page-title">DailyDone</h1>
        <p class="about-description">
            DailyDone is a streamlined project management tool crafted for efficiency and superb user-experience. Enabling users to <strong style="color: #FA0644;">easily create, track, update, and complete tasks and projects</strong>, it injects simplicity into every step of project management. The platform fosters productivity and team collaboration by providing features for task assignments, timeline creation. With the profile feature, users gain a personalized experience. The dashboard provides an overview of ongoing tasks, upcoming deadlines, and completed achievements, giving users a comprehensive picture of their productivity landscape.
            <br>
            <br>
            Whether managing personal tasks or coordinating team-based projects, DailyDone offers a comprehensive solution to visualize and monitor progress seamlessly. With its user-friendly interface and a wealth of features, it's an optimal choice for anyone seeking a superior approach for project management and task tracking. With DailyDone, we aim to turn every day into a day of accomplishment.
        </p>
    </div>

    <section class="key-features-section">
      <h2 class="section-title">Key Features:</h2>
      <div class="features-list">
          <div class="feature-item">
              <img class="feature-image" src="{% static 'images/user_authentification_img.jpeg' %}" alt="User Authentication picture">
              <div class="feature-content">
                  <h3 class="feature-title">User Authentication</h3>
                  <p class="feature-description">Register, Login, Logout, Create and Edit User Profile</p>
              </div>
          </div>

          <div class="feature-item">
            <img class="feature-image" src="/static/images/Project_Management_img.jpeg" alt="Project Management Icon">
            <div class="feature-content">
              <h3 class="feature-title">Project Management</h3>
              <p class="feature-description">Create, View, Edit, and Delete projects, Set Project's Characteristics, Monitor Project's Status, Assign Admin and Contributors to projects, Mark them as as completed</p>
            </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/images/Task_Management_img.jpeg" alt="Task Management Icon">
              <div class="feature-content">
                  <h3 class="feature-title">Task Management</h3>
                  <p class="feature-description">Add, View, Update, and Delete tasks, Set Task's Characteristics within projects, , Monitor Task's Status, Assign Admin and Contributors to tasks, Mark them as as completed</p>
              </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/images/Collaboration_img.jpeg" alt="Collaboration Icon">
              <div class="feature-content">
                  <h3 class="feature-title">Collaboration</h3>
                  <p class="feature-description">Assign tasks to specific unique or multiple contributor(s) and invite them to join projects and tasks, display list of Contributors and Admin per project and task</p>
              </div>
          </div>

          <div class="feature-item">
              <img class="feature-image" src="/static/images/user_profile_img.jpeg" alt="User Profile Icon">
              <div class="feature-content">
                  <h3 class="feature-title">User Profile</h3>
                  <p class="feature-description">With our user profiles, each individual can tailor their experience to fit their needs, enhancing productivity and providing a personalized touch to project management</p>
              </div>
          </div>
      </div>
  </section>

  <div class="learn-more-section">
    <a href="{% url 'signup' %}" class="learn-more-button">Learn More</a>
  </div>

  <div class="developer-section">
    <div class="left-side-image">
      <div class="image-wrapper"> 
          <img
              class="image is-128x128 developer-image"
              src="/static/images/pict_Dolores_Crazover.png"
              alt="Dolores Crazover"
          />
      </div>
  </div>
  <h2 class="developer-title">About the Developer</h2>
  <p class="developer-description">
      Dolores openly shares her work and development journey on her <a href="https://github.com/DoloresCode" target="_blank" style="color: #FA0644; font-weight: bold;">GitHub</a> page. She welcomes you to connect with her on <a href="https://www.linkedin.com/in/dolores-crazover/" target="_blank" style="color: #FA0644; font-weight: bold;">LinkedIn</a> to know more about her professional endeavors. For <strong style="color: #FA0644;">Full Stack Software development opportunities</strong>, questions, or if you would like to discuss potential collaborations, please don't hesitate to reach out to Dolores via email <a href="mailto:dcrazover@gmail.com" style="color: #FA0644; font-weight: bold;">here</a>. She looks forward to helping individuals and teams accomplish more every day with DailyDone.
  </p>
</div>
</div>
{% endblock %}