{% extends 'base.html' %}

{% block title %}DailyDone Private Home{% endblock %}

{% block content %}
<div class="home-section">
  <div class="home-left">
    <h1 class="home-title">We turn chaos into order, and ideas into action. Making every day a productive one.</h1>
    <a href="/signup" class="signup-button">Sign Up</a>
  </div>
  
  <div class="left-side-image">
    <img
      class="image-homepage"
      src="/static/main_app/images/lightball_homepage.png"
      alt="colorfull lightball"
    />
  </div>
</div>
{% endblock %}
