{% extends 'base.html' %}

{% block title %}Project Detail{% endblock %}

{% block content %}
<div class="project-detail">
    <div class="go-back-link-detail-pg">
        <a href="{% url 'project_list' %}" class="button is-dark">Go Back</a>
    </div>

    <div class="project-header">
        <h1 class="title">{{ project.title }}</h1>
        <p class="description">{{ project.description }}</p>
    </div>

    <div class="project-info">
        <div class="project-dates">
            <p><strong>Start Date:</strong> {{ project.start_date }}</p>
            <p><strong>End Date:</strong> {{ project.due_date }}</p>
        </div>
        <div class="project-status">
            <p><strong>Importance:</strong> {{ project.get_importance_display|title }}</p>
            <p><strong>Status:</strong> {{ project.get_status_display|title }}</p>
        </div>
    </div>

    <div class="task-section">
        <div class="task-section">
                <h2 class="tasks-title">Tasks:</h2>
                {% if project.tasks.exists %}
                <ul class="task-list" style="list-style-type: none;">
                    {% for task in project.tasks.all %}
                    {% if not task.is_completed %}
                    <li class="task-item">
                        <input type="checkbox" {% if task.is_completed %}checked{% endif %}>
                        <div class="task-details">
                            <span class="task-title">{{ task.title }}</span>
                            <span class="task-importance">- <strong>{{ task.get_importance_display|title }}</strong></span>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if project.completed_tasks.exists %}
                    <h2 class="tasks-title">Completed Tasks:</h2>
                    <ul class="task-list" style="list-style-type: none;">
                        {% for task in project.completed_tasks.all %}
                            <li class="task-item">
                                <span>{{ task.title }}</span>
                                <span>- {{ task.get_importance_display|title }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <article class="message">
                    <div class="message-header">
                        <p>No tasks found for this project.</p>
                    </div>
                </article>
            {% endif %}
        </div>
    </div>
</div>

<div class="buttons-upt-dlt">
    <!-- update and delete buttons -->
    <a href="{% url 'project_update' project.pk %}" class="button is-info"> 
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'project_delete' project.pk %}" class="button is-danger">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
</div>
{% endblock %}
