{% extends 'base.html' %}

{% block title %}Projects List{% endblock %}

{% block content %}
  <div class="project-list">
    <h1 class="title">Projects</h1>
    {% if projects %}
      <div class="project-grid">
        {% for project in projects %}
          <a href="" class="project-item">
            <h2 class="project-title">{{ project.title }}</h2>
            <div class="project-info">
                <p class="project-importance"><strong>Importance:</strong> {{ project.importance }}</p>
                <p class="project-dates">
                    <strong>Start Date:</strong> {{ project.start_date }} |
                  <strong>Due Date:</strong> {{ project.end_date }}
              </p>
              <p class="project-status">
                <strong>Status:</strong> {{ project.get_status_display }} 
            </p>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>No projects found.</p>
    {% endif %}
  </div>
{% endblock %}
