{% extends 'base.html' %}
{% load static %}
{% block title %}Project Detail{% endblock %}

{% block content %}
<div class="project-detail">
    <div class="go-back-link-detail-pg">
        <a href="{% url 'project_list' %}" class="button is-dark">Go Back</a>
    </div>

    <div class="project-header">
        <h1 class="title">{{ project.title }}</h1>
        <p class="description">{{ project.description }}</p>
    </div>

    <div class="project-info">
        <div class="project-dates">
            <p><strong>Admin:</strong> {{ project.get_user_display|title }}</p>
            <p><strong>Contributor(s):</strong> {{ project.get_contributors_display|title }}</p>
            <p><strong>Start Date:</strong> {{ project.start_date }}</p>
            <p><strong>End Date:</strong> {{ project.due_date }}</p>
        </div>
        <div class="project-status">
            <p><strong>Importance:</strong> {{ project.get_importance_display|title }}</p>
            <p><strong>Status:</strong> {{ project.get_status_display|title }}</p>
            <div class="project-completion">
                <form method="POST" action="{% url 'project_complete' project.pk %}">
                    {% csrf_token %}
                    <input type="checkbox" id="completed" name="completed" onchange="this.form.submit()">
                    <label for="completed" class="completed-label">Mark as Completed</label>
                </form>
            </div>
        </div>
    </div>

    <div class="buttons-upt-dlt">
        <!-- update and delete buttons -->
        <a href="{% url 'project_update' project.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'project_delete' project.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>

    <div class="task-section">
        <h2 class="tasks-title">Tasks</h2>
    
        <!-- Add Task button -->
        <a href="{% url 'project_task_create' project.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span>Add Task</span>
        </a>
    
        <!-- Task list -->
        {% if project.tasks.exists %}
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Importance</th>
                        <th>Due Date</th>
                        <th>Admin</th>
                        <th>Contributor(s)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        {% if not task.is_completed %}
                            <tr>
                                <td>
                                    <form action="{% url 'task_complete' task.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="checkbox" class="complete-task-checkbox" data-task-id="{{ task.id }}" onchange="this.form.submit()" {% if task.is_completed %}checked{% endif %}>
                                    </form>
                                </td>
                                <td><span class="task-title"><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></span></td>
                                <td><span class="task-importance">{{ task.get_importance_display|title }}</span></td>
                                <td><span class="task-due_date">{{ task.due_date }}</span></td>
                                <td><span class="task-due_date">{{ task.admin.username }}</span></td>
                                <td><span class="task-due_date">{{ task.get_contributors_display }}</span></td>
                                {% comment %} update and delete tasks {% endcomment %}
                                <td>
                                    <a href="{% url 'task_update' task.pk %}" class="button is-info update-icon">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a href="{% url 'task_delete' task.pk %}" class="button is-danger delete-icon">
                                        <span class="icon">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </a>
                                </td>
                                {% comment %} end  {% endcomment %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tasks found for this project.</p>
        {% endif %}
    </div> 
</div>

{% endblock %}
