{% load static %}
{% extends 'base.html' %}
{% block title %}DailyDone Public Home{% endblock %}

{% block content %}
<div class="home-section home-public">
    <div class="home-left-public">
        <div class="home-left-title">
            <h1 class="home-title-public">We turn chaos into order, and ideas into action. Making every day a productive one. START A PROJECT NOW!</h1>
        </div>
        <div class="home-left-signup-btn">
            <a href="accounts/signup" class="signup-button-public">Sign Up</a>
        </div>
    </div>
    <div class="right-side-image container-image-homep-pub">
        <img class="image-homepage-public" src="{% static 'images/lightball_homepage2.png' %}" alt="colorfull lightball"/>
    </div>
</div>
{% endblock %}
