{% load static %}
{% extends 'base.html' %}
{% block title %}Create New Task{% endblock %}

{% block content %}

<style> 
    #task-create-page-container {
        background-image: url("{% static 'images/create_task_image.jpeg' %}");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        min-height: 200vh; 
        margin-bottom: -7rem;
    }
</style>


<div id="task-create-page-container"> 
    <h1 class="title_tasks-l2">Create New Task</h1>

    {% comment %} Go back to see the tasks list {% endcomment %}
    <div class="link-go-back-new-task">
        <a href="{% url 'task_list' %}">> Go back</a>
    </div>

    {% comment %} Possibility to create a new projet if it is missing from the list {% endcomment %}
    <div class="field-new-project-missing">
        <label class="label">Need to add a new Project?</label>
        <div class="control">
            {{ field }}
            <a href="{% url 'project_create' %}" class="button is-primary">Create New Project</a>
        </div>
    </div>

    <form class="form-create-task" action="{% url 'task_create' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary my-custom-button-t" type="submit">Create Task</button>
            </div>
            <div class="control">
                <a class="button is-light" href="{% url 'project_list' %}">Cancel</a>
            </div>
        </div>
        <span class="date-instruction-task-cr">Enter date in MM/DD/YYYY format for Due Date.</span>
        <br>
        <span class="instruction-contributors-create-task">Hold down "Control" or "Command" on a Mac to select more than one Contributors.</span>
    </form>

</div>
    
{% endblock %}


{% comment %} Source: Accessing The URL of An Image Stored Inside The Static Folder
https://forum.djangoproject.com/t/accessing-the-url-of-an-image-stored-inside-the-static-folder/14901 {% endcomment %}