{% load static %}
{% extends 'base.html' %}
{% block title %}Task Detail{% endblock %}

{% block content %}
    <div id="task-detail">
        <h1 class="task-title-detailpg">{{ task.title }}</h1>
        <p><span class="detail-heading">Project:</span> <br> {{ task.project.title }}</p>
        <p><span class="detail-heading">Description:</span> <br> {{ task.description }}</p>
        <p><span class="detail-heading">Admin:</span> <br> {{ admin }}</p>
        <p><span class="detail-heading">Contributor(s):</span> <br> {{ contributors }}</p>

        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="is_completed" {% if task.is_completed %}checked{% endif %} onchange="this.form.submit()">
            <span class="detail-heading">Completed</span>
        </form>
        
        <p><span class="detail-heading">Level of Importance:</span> <br> {{ task.get_importance_display|title }}</p>
        <p><span class="detail-heading">Due Date:</span> <br> {{ task.due_date }}</p>
        
        <div id="task-actions">
        <a href="{% url 'task_update' task.id %}"><i class="fas fa-edit"></i></a>
        <a href="{% url 'task_delete' task.id %}"><i class="fas fa-trash"></i></a>
        </div>

        <div id="navigation-links">
        <a href="{% url 'task_list' %}">> Back to Tasks</a>
        <a href="{% url 'project_list' %}">> Back to Projects</a>
        </div>
    </div>
{% endblock %}
