{% extends 'base.html' %}

{% block title %}Tasks List{% endblock %} 

{% block content %}
<h1 class="title_tasks-l">Tasks Lists</h1>

{% comment %} button add a taskto the list {% endcomment %}
<a href="{% url 'task_create' %}" class="button is-primary create-task-button">
    <span class="icon">
        <i class="fas fa-plus"></i>
    </span>
    </a>

{% comment %} link to click "See Projects List" {% endcomment %}
<div class="project-list-link-taskpg">
    <a href="{% url 'project_list' %}">View Projects</a>
</div>

<h2 class="sub-title-tasks-pg-1">Tasks To Do ({{ tasks|length }})</h2>

<table class="task-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Importance</th>
            <th>Due Date</th>
            <th>Completion Status</th>
            <th>Admin</th>
            <th>Contributor(s)</th>
            <th>To Do</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td class="task-title">
                <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
            </td>
            <td class="task-importance">{{ task.importance }}</td>
            <td class="task-due-date">{{ task.due_date }}</td>
            <td class="{% if task.is_completed %}task-completed{% else %}task-not-completed{% endif %}">
                {{ task.is_completed }}
            </td>
            <td>{{ task.admin.username }}</td>
            <td>
                {% for contributor in task.contributors.all %}
                    {{ contributor.username }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="task-todo">
                {% if not task.is_completed %}
                    <form method="post" action="{% url 'task_complete' task.pk %}">
                        {% csrf_token %}
                        <input type="checkbox" name="is_completed" value="{{ task.pk }}" onchange="this.form.submit()">
                    </form>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'task_update' task.pk %}" class="button update-button">
                    <i class="fas fa-edit"></i> 
                </a>
                <a href="{% url 'task_delete' task.pk %}" class="button delete-button">
                    <i class="fas fa-times"></i> 
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2 class="sub-title-tasks-pg-2">Completed Tasks ({{ completed_tasks|length }})</h2>

<table class="completed-tasks-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Importance</th>
            <th>Due Date</th>
            <th>Admin</th>
            <th>Contributor(s)</th>
            <th>To Do</th>
        </tr>
    </thead>
    <tbody>
        {% for task in completed_tasks %}
        <tr>
            <td><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.importance }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.admin.username }}</td>
            <td>
                {% for contributor in task.contributors.all %}
                    {{ contributor.username }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>Done</td>
        </tr>
    </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}