{% extends 'base.html' %}

{% block title %}Completed Tasks{% endblock %} 

{% block content %}
    <h1 class="title_tasks-l">Completed Tasks</h1>

    <table class="completed-tasks-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Importance</th>
                <th>Due Date</th>
                <th>Admin</th>
                <th>Contributor(s)</th>
                <th>To Do</th>
            </tr>
        </thead>
        <tbody>
            {% for task in completed_tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.importance }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.get_user_display|title }}</td>
                <td>{{ task.get_contributors_display|title }}</td>
                <td>Done</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
